<b>Name:</b> <%=match_category.name%>
<table>
	<thead>
		<tr>
			<th>Line Item Name </th>
			<th>Type </th>
			<th>Column Name</th>
		</tr>
	</thead>
	<tbody>
		<%=render match_category.match_form_lineitems%>
	</tbody>
</table>
<br />
<br />